body{
    margin-right: 10%;
    margin-left: 10%;
    background: url(background.png) rgba(0, 60, 255, 0.5) repeat-x fixed left bottom / 100px 100px;
}
*{text-align: center;}
h1{color: blue;}
div.li{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    border-left: 10px solid red;
    border-radius: 5px;
    background-color: lightgrey;
    }
footer{width: 100%;}
.fixed-bottom{position: absolute; bottom: 120px; width: 80%;}
iframe{width: 80%;}