body{
    margin-right: 10%;
    margin-left: 10%;
    background: url(background.png) rgba(0, 60, 255, 0.5) repeat-x fixed left bottom / 100px 100px;
}
*{text-align: center;}
h1{color: blue;}
li{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}
li a{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: left;
    border-left: 10px solid red;
    border-radius: 5px;
    display: block;
    text-decoration: none;
}
li a:link,li a:visited{
    background-color: lightgrey;
}
li a:hover {
    background-color: rgb(238, 158, 144);
}
      
li a:active {
    background-color: rgb(255, 140, 105);
} 
.footer{
    padding: 0;
    display: block;
    color: lightgray;
    font-size: 0.5em;
}
.fixed-bottom{position: fixed; left: 0; bottom: 120px; width: 100%;}
iframe{width: 80%; height: 500px;}